<tr class="table-row">
	<li>
    <td class="table-first-col">{{burger_name}}</td>
    <td><button class="change-devour" data-id="{{id}}">DEVOUR IT!</button></td>
	</li> 
</tr>

{{!-- <li>
	{{name}}

{{#unless devoured}}
	<button class="devour" data-id="{{id}}" data-newdev="{{devoured}}">
		Eat it!!
	</button>
{{/unless}}

</li> --}}